{% extends "base.html" %}    

{% block header %}
{% call super() %}
{% endblock header %}


{% block nav %}
    <div>
        <a href="/" class="bg-gray-500 text-white p-0 m-0 px-1">index</a>
        <a href="/about" class="p-0 m-0 px-1">about</a>
    </div>
{% endblock nav %}


{% block content %}
    <div class="flex flex-col gap-2">
        <table class="text-xs">
            <thead class="text-gray-800">
                <tr class="text-left">
                    <th class="" scope="col">
                        <a class="" href="/?s=name">Name</a>
                    </th>
                    <th class="" scope="col">
                        <a class="" href="/?s=desc">Description</a>
                    </th>
                    <th class="" scope="col">
                        <a class="" href="/?s=owner">Owner</a>
                    </th>
                    <th class="" scope="col">
                        <span class="" data-ut="1608612400" title="2020-12-22 04:46:40 +000">Idle</span>
                    </th>
                </tr>
            </thead>
            <tbody>

            {% for file in files %}
                <tr class="odd:bg-gray-200 hover:bg-gray-300 cursor-pointer p-4">
                  <td>
                    <span>{{file.name}}</span>
                  </td>
                  <td >
                    <span>{{file.description}}</span>
                  </td>
                  <td >
                    <span>{{file.author}}</span>
                  </td>
                  <td >
                    <span >{{file.last_edited}}</span>
                  </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

    <dialog class="mx-auto p-2 rounded shadow-lg ">
        <h2 class="text-md text-gray-700 font-bold">Get Repo From GitHub</h2>
        <p class="text-sm text-gray-500">With this, you'll be able to rip a repo from github and manage it here</p>
        <div class="flex flex-col gap-2">
            <hr>
            <label html-for="repo-link">Repo Link</label>
            <input class="border border-gray-300" id="repo-link" name="repo-link" placholder="Repo Link"/>
            <hr>
        </div>
        <div class="flex gap-1 justify-end">
            <button>cancel</button>
            <button>pull</button>
        </div>
    </dialog>
{% endblock %}
